{% extends 'base.html' %}

{% block title %}Личная страница{% endblock %}

{% block content %}
<h2>Личная страница</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Email</th>
            <th>Номер</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
            <td>
                <a href="{% url 'users:user_update' user.pk %}" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'users:user_delete' user.pk %}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}