{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Список столов{% endblock %}
{% block content %}
<h2>Список столов</h2>
<div class="container">
    <div class="row text-center">
        {% for table in tables %}
                <div class="col-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <img src="{{ table.image| media_filter }}" class="card-img-top" alt="{{ table.number }}">
                            <h4 class="my-0 font-weight-normal">Стол №{{ table.number }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"> {{ table.date }} {{ table.time | truncatechars:6 }} </h1>
                            <h1 class="card-title pricing-card-title"> Цена {{ table.price }}Руб</h1>
                            <div class="btn-group">
                              <a class="btn btn-primary" href="{% url 'restaurant:table_detail' table.pk %}">Подробно</a>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock %}